In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [16]:
data = pd.read_csv('data/train.csv')

In [17]:
data.head()

   label                                               text
0      0  democrat hillary clinton saturday receive firs...
1      1  former white house chief strategist stephen k....
2      1  dr. abdul el-sayed liberal democrat would like...
3      0  manila across asia countries pull beijing orbi...
4      1  clinton lynch talk grandkids top secret transc...

In [18]:
data[['text', 'label']].head()

                                                text  label
0  democrat hillary clinton saturday receive firs...      0
1  former white house chief strategist stephen k....      1
2  dr. abdul el-sayed liberal democrat would like...      1
3  manila across asia countries pull beijing orbi...      0
4  clinton lynch talk grandkids top secret transc...      1

In [19]:
data.shape

(10612, 2)

In [20]:
data.describe()

              label
count  10612.000000
mean       0.534301
std        0.498846
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10612 entries, 0 to 10611
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   10612 non-null  int64
 1   text    10612 non-null  object
dtypes: int64(1), object(1)
memory usage: 165.9+ KB

In [22]:
data['label'].value_counts()

label
1    5670
0    4942
Name: count, dtype: int64

In [23]:
data.isnull().sum()

label    0
text     0
dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split()